name: "Setup environment"
description: "Sets up python and installs all dependencies."
inputs:
  python-version:
    description: "Version of python"
    required: true
runs:
  using: "composite"
  steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: ${{ inputs.python-version }}
    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry config virtualenvs.create false
        poetry install
      shell: bash
