name: publish
on:
  release:
    types: [published]
jobs:
  run-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/setup-env
        with:
          python-version: "3.13"
      - name: build and publish
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: |
          poetry publish --build -u "__token__" -p "$PYPI_TOKEN"
